// FONT FAMILY **/
$font-family-base: "GoogleSans", "Helvetica Neue", "Roboto", sans-serif;

// BREAKPOINTS **/
$breakpoint-tiny-screens: 375px;
$breakpoint-small-screens: 450px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1000px;
$breakpoint-bs-sm: 576px;
$breakpoint-bs-md: 768px;
$breakpoint-bs-lg: 992px;
$breakpoint-bs-xl: 1200px;
$breakpoint-header: 850px;

// COLORS **/
$brand-color: #290922;
$brand-color-layer1: #522c5152;
$brand-color-layer2: #522c5136;
$brand-color-layer3: #640b6215;
$brand-color-red: #EA7052;
$brand-color-purple: #7B7FDA;
$brand-color-orange: #F9AD6D;
$brand-color-green: #68BC98;
$brand-color-blue: #506AAC;
$background-color: #EDEDEE;
$color-success: #41b661;
$color-danger: #b80202;
$white: #fff;
$black: #000;

$grey: #4a4a4a;
$grey-light: #AAA9A9;
$grey-medium: #4a4a4a80;